---
---

@import "minima";

body {
  background-color: #1c1c1c;
  color: #90ee90;
  font-family: 'Courier New', monospace;
}

a {
  color: #7CFC00;
}
a:hover {
  color: #ADFF2F;
}

h1, h2, h3, h4, h5, h6 {
  color: #98fb98;
}

.site-title a {
  color: #7CFC00;
  text-decoration: none;
}

.site-title a:hover {
  color: #ADFF2F;
  text-shadow: 0 0 6px #7CFC00;
}

